---
import Header from "./Header.astro";
import UploadStatus from "./UploadStatus.astro";
import UploadModal from "./UploadModal.astro";
let modalOpen = false;
function openModal() {
  modalOpen = true;
}
function closeModal() {
  modalOpen = false;
}
function handleUpload() {
  closeModal();
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col items-center p-4">
    <Header onUploadClick={openModal} />
    <UploadModal
      open={modalOpen}
      onClose={closeModal}
      onUpload={handleUpload}
    />
    <main class="w-full flex flex-col items-center">
      <UploadStatus />
      <slot />
    </main>
  </body>
</html>
